html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  height: 1.2em;
  width: 1.2em;
}

.container {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}

.header {
  grid-area: 1/2/2/6;
  background-color: yellow;
}

.sidebar {
  grid-area: 1/1/6/2;
  background-color: #172554;
}

.sidebar .title {
  display: flex;
  align-items: center;
  padding-left: 15px;
  color: white;
}

.sidebar .title h1 {
  padding-left: 10px;
}

#icon_dashboard {
  height: 2.5em;
  width: 2.5em;
}

.sidebar .links {
  font-size: 1.5em;
}

.sidebar ul {
  list-style: none;
  padding-left: 30px;
  color: white;
  margin-bottom: 2.5em;
}

.sidebar ul li h3 {
  margin: 0px;
  padding-left: 15px;
  font-weight: lighter;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.main {
  grid-area: 2/2/6/6;
  background-color: lime;
}
